/* You can add global styles to this file, and also import other style files */
body {
  background: url('assets/bg.jpg') 100%;
  margin: 0px;
  width: 600px;
}
app-root {
  display: block;
  background-color: rgba(236, 213, 213, 0.9);
  padding: 10px 0px 20px 0px;
}